## Importación de librerías

In [1]:
import pandas as pd

## Importación del dataset original

In [6]:
data_raw = pd.read_csv('../data/01-raw-properati.csv')
data_raw.head(3)

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,price
0,556713,Propiedad,2019-11-29,9999-12-31,2019-11-29,-58.442399,-34.573623,Argentina,Capital Federal,Colegiales,...,2.0,NaN,NaN,USD,NaN,"Departamento en Venta en Belgrano, Capital fed...","Sup total por escritura: 96,47 m2 (cubiertos: ...",Departamento,Venta,259000.0
1,192912,Propiedad,2020-06-05,2020-06-08,2020-06-05,-58.430493,-34.606620,Argentina,Capital Federal,Almagro,...,2.0,77.0,67.0,USD,NaN,Departamento de 3 ambientes en Venta en Almagro,Excelente departamento de tres ambientes ampli...,Departamento,Venta,235500.0
2,238224,Propiedad,2020-07-01,9999-12-31,2020-07-01,-58.491760,-34.574123,Argentina,Capital Federal,Villa Urquiza,...,1.0,60.0,55.0,USD,NaN,Andonaegui 2600 4° - - Departamento en Venta,Excelente 3 ambientes al frente con balcón. Vi...,Departamento,Venta,175000.0

In [4]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992192 entries, 0 to 992191
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               992192 non-null  int64
 1   ad_type          992192 non-null  object
 2   start_date       992192 non-null  object
 3   end_date         992192 non-null  object
 4   created_on       992192 non-null  object
 5   lat              838994 non-null  float64
 6   lon              839929 non-null  float64
 7   l1               992192 non-null  object
 8   l2               992192 non-null  object
 9   l3               934737 non-null  object
 10  l4               225395 non-null  object
 11  l5               4711 non-null    object
 12  l6               0 non-null       float64
 13  rooms            503045 non-null  float64
 14  bedrooms         390699 non-null  float64
 15  bathrooms        773021 non-null  float64
 16  surface_total    448164 non-null  float64
 17  surface_covered  436961 non-null  float64
 18  currency         944941 non-null  object
 19  price_period     369939 non-null  object
 20  title            992164 non-null  object
 21  description      992170 non-null  object
 22  property_type    992192 non-null  object
 23  operation_type   992192 non-null  object
 24  price            947811 non-null  float64
dtypes: float64(9), int64(1), object(15)
memory usage: 189.2+ MB

In [5]:
data_raw.describe()

,id,lat,lon,l6,rooms,bedrooms,bathrooms,surface_total,surface_covered,price
count,992192.000000,838994.000000,839929.000000,0.0,503045.000000,390699.000000,773021.000000,448164.00000,4.369610e+05,9.478110e+05
mean,500338.438758,-59.266586,-34.793745,NaN,2.858577,2.086094,1.697637,493.51136,5.769533e+02,2.881687e+05
std,288685.497758,2.707383,3.066257,NaN,1.682454,2.705342,1.072722,4101.38179,7.383998e+04,5.560863e+06
min,1.000000,-180.000000,-54.842464,NaN,1.000000,-13.000000,1.000000,-200.00000,-1.700000e+02,0.000000e+00
25%,250259.750000,-58.756011,-34.921709,NaN,2.000000,1.000000,1.000000,50.00000,4.500000e+01,3.900000e+04
50%,500641.500000,-58.444383,-34.610508,NaN,3.000000,2.000000,1.000000,95.00000,7.500000e+01,9.800000e+04
75%,750507.250000,-58.058983,-34.459156,NaN,4.000000,3.000000,2.000000,270.00000,1.550000e+02,2.100000e+05
max,1000000.000000,-35.045025,85.051129,NaN,40.000000,900.000000,20.000000,200000.00000,2.700000e+07,3.100000e+09

## Filtrado de las propiedades
    *   `country_name = "Argentina"`
    *   `operation_type = "Venta"`
    *   `currency = "USD"`
    *   Zonas: CABA y GBA (pueden subdividir si lo desean).

In [ ]:
data_preprocessed = data_raw.drop(columns=["id","title", "description"])

A revisar:
- filtrar las que tienen un end_date mayor a la fecha actual?
- start_date == created_on ?
- quitar l6 ?
- quitar lat y lon ?

## Exploración de variables relevantes
    *   Superficie (`surface_total`, `surface_covered`)
    *   Ambientes, dormitorios, baños
    *   Ubicación (`place_name`, `state_name`, `lat`, `lon`)
    *   Tipo de propiedad (`property_type`)
    *   Precio (`price_usd`)

## Limpieza y tratamiento de datos
    *   Gestionar valores duplicados y nulos irrelevantes.
    *   Decidir qué variables conservar para el modelo.
    *   Imputar valores faltantes (si corresponde).
    *   Detectar y manejar outliers (ej. establecer límites razonables de superficie/precio).

## Generar un dataset limpio final y guardarlo como `data/processed.csv`.