In [1]:
import pandas as pd

In [2]:
data_processed = pd.read_csv("../data/02-processed-properati.csv", sep=',', index_col=0)
data_processed.head(5)

,lat,lon,l2,rooms,bedrooms,bathrooms,surface_total,surface_covered,property_type,price,days_since_start,days_since_end,surface_uncovered,available_publication
1,-58.430493,-34.606620,Capital Federal,3,2,2,77.0,67.0,Departamento,235500.0,1984,1981.0,10.0,False
2,-58.491760,-34.574123,Capital Federal,2,1,1,60.0,55.0,Departamento,175000.0,1958,NaN,5.0,True
3,-58.420737,-34.631770,Capital Federal,2,1,1,74.0,47.0,PH,140000.0,2277,NaN,27.0,True
4,-58.429983,-34.607225,Capital Federal,3,2,1,66.0,64.0,Departamento,173000.0,2289,2263.0,2.0,False
5,-58.420780,-34.608640,Capital Federal,3,2,1,55.0,55.0,PH,155000.0,2210,2194.0,0.0,False

In [3]:
data_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113190 entries, 1 to 992073
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   lat                    103248 non-null  float64
 1   lon                    103248 non-null  float64
 2   l2                     113190 non-null  object
 3   rooms                  113190 non-null  int64
 4   bedrooms               113190 non-null  int64
 5   bathrooms              113190 non-null  int64
 6   surface_total          113190 non-null  float64
 7   surface_covered        113190 non-null  float64
 8   property_type          113190 non-null  object
 9   price                  113190 non-null  float64
 10  days_since_start       113190 non-null  int64
 11  days_since_end         93510 non-null   float64
 12  surface_uncovered      113190 non-null  float64
 13  available_publication  113190 non-null  bool
dtypes: bool(1), float64(7), int64(4), object(2)
memory usage: 12.2+ MB

In [4]:
data_processed = pd.get_dummies(data_processed, drop_first=True, dtype="int64")
data_processed.columns

Index(['lat', 'lon', 'rooms', 'bedrooms', 'bathrooms', 'surface_total',
       'surface_covered', 'price', 'days_since_start', 'days_since_end',
       'surface_uncovered', 'available_publication',
       'l2_Bs.As. G.B.A. Zona Oeste', 'l2_Bs.As. G.B.A. Zona Sur',
       'l2_Capital Federal', 'property_type_Departamento',
       'property_type_Local comercial', 'property_type_Oficina',
       'property_type_PH'],
      dtype='object')

In [5]:
data_processed.to_csv("../data/03-encoded-properati.csv")